<!DOCTYPE html>
<html xmlns:th = "www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  th:href = "@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet"  th:href= "@{/css/grid.css}" href="../static/css/grid.css"/>
    <link rel="stylesheet"  th:href= "@{/css/default-style.css}" href="../static/css/default-style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet"/>

   
    <title>Show Product</title>
</head>
<body>
    <div class="row">
        <h2>Product</h2>
    </div>
    <div class="object-info">
    	<div class = "row">
            <p class="col span-1-of-3 field">Name</p>
            <p class="col span-2-of-3 value" th:text="${product.name}">Spring Boot for beginners</p>
        </div>
        <div class = "row">
            <p class="col span-1-of-3 field">Price</p>
            <p class="col span-2-of-3 value" th:text= "${product.price}">499</p>
        </div>            
    </div>
    
</body>
</html>