<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/> 
          
    <link rel="stylesheet" type="text/css"  href="../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css"  href="../static/css/grid.css"/>
    <link rel="stylesheet" type="text/css"  href="../static/css/register.css"/>
    <link rel="stylesheet" type="text/css"  href="../static/css/form_style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet"/>
    
    <title>Registrera</title>
</head>
<body>

    <section class="section-form">
        <div class="row">
            <h2>Skapa</h2>
        </div>
        <div class="row">
            <form method="POST" action="#" class="generic-form">                    
            
                <div class ="row">
                    <div class="col span-1-of-3">
                        <label for="name">Product name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="name" id="name" placeholder="Produkt namn" required/>
                    </div>
                   
                </div>
                <div class ="row">
                    <div class="col span-1-of-3">
                        <label for="price">Pris</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="number" name="price" id="price" required/>
                    </div>
                    
                </div>                
                <div class ="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="Registrera"/>
                    </div>
                </div>

            </form>
        </div>

    </section>
    
</body>
</html>